* {
    box-sizing: border-box;
  }

@import './variables';
@import './mixins';
@import './placeholders';

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}

h1{
  font-family: shirkhand ;
}

h2, p{
  font-family: 'Roboto', sans-serif;
}

.localisation {

    div{
    display: flex;
    text-align: center;
    justify-content: center;
    }

      p{
      margin: 0px;
      margin-left: 15px;
      }
}