@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';

/*Partie commande page restaurants*/

.commander{
    @extend %flex-column;
    background-color: $background-dark;
    padding-bottom: 60px;
}

.btn{
    @extend %btn;
    padding-left: 45px;
    padding-right: 45px;
}

