@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';
@import '../Components/button';


/*Partie description page index */
.description{
    @extend %flex-column;
    background-color: $background-light;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;

          h2{
            margin: 0;
          }
          .btn{
            @extend %btn;
          }
}