@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';

/*Partie fonctionnement page index */

.fonctionnement{
    @extend %flex-column;

    h2{
      margin-left: 20px;
      margin-top: 45px;
      margin-bottom: 10px;
    }
  
}
  
.fonctionnement__block{
    @extend %fonctionnement_block;
  
}