@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';


header {
    @extend %flex-center;
    align-items: flex-start;

    h1{
        font-family: shirkhand ;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
    }

    i{
        margin-left: 5px;
        font-size: 15px;
    }
}

