@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';

/*Partie localisation page index */
.localisation {
    background-color: $background-dark;
    box-shadow: inset 0px 7px 10px -10px rgba(0,0,0,0.5);
  
      div{
      @extend %flex-center;
      padding: 18px;
      }
  
        p{
        margin: 0px;
        margin-left: 15px;
        font-weight:bold;
        }
}
