@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';

/*Partie localisation page index */
.localisation {
    background-color: $background-dark;
    box-shadow: inset 0px 7px 10px -10px rgba(0,0,0,0.5);
    text-align: center;
  
      div{
      padding: 18px;
      margin-left: auto;
      margin-right: auto;
      }
      
        i{
        margin: 0px;
        margin-right: 15px;
        }
}
 :placeholder-shown{
  border-style: none;
  background-color: $background-dark;
 }

 ::placeholder{
  font-weight: bold;
  font-size: 16px;
  color: black;
 }