@charset "UTF-8";
.menu-container, .fonctionnement__block .circle, .fonctionnement__block, .localisation div, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, .fonctionnement__block .circle, .fonctionnement__block, .localisation div, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

header {
  align-items: flex-start;
}
header h1 {
  font-family: shirkhand;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
header i {
  margin-left: 15px;
}

.menu-container, .fonctionnement__block .circle, .fonctionnement__block, .localisation div, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.localisation {
  background-color: #f1eeee;
  box-shadow: inset 0px 7px 10px -10px rgba(0, 0, 0, 0.5);
}
.localisation div {
  padding: 18px;
}
.localisation p {
  margin: 0px;
  margin-left: 15px;
  font-weight: bold;
}

.menu-container, .fonctionnement__block .circle, .fonctionnement__block, header, .localisation div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, .fonctionnement__block .circle, .fonctionnement__block, header, .localisation div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.btn, .description .btn {
  border-style: hidden;
  background: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 40px;
  padding: 15px 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  transition: all 300ms;
}
.btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

.description {
  background-color: rgba(243, 243, 243, 0.937254902);
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.description h2 {
  margin: 0;
}
.menu-container, .fonctionnement__block .circle, .fonctionnement__block, header, .localisation div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, .fonctionnement__block .circle, .fonctionnement__block, header, .localisation div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.fonctionnement__block {
  background-color: rgba(243, 243, 243, 0.937254902);
  border-radius: 25px;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  width: 320px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  margin-top: 25px;
  transition: all 300ms;
}
.fonctionnement__block h3 {
  width: 225px;
}
.fonctionnement__block i {
  margin-left: 18px;
  margin-right: 18px;
  width: 20px;
  font-size: 18px;
  color: gray;
}
.fonctionnement__block:hover {
  background-color: #f1eafb;
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}
.fonctionnement__block:hover i {
  color: #9359DC;
}

.menu-container, .fonctionnement__block .circle, header, .localisation div, .fonctionnement__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .fonctionnement, .description {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.fonctionnement__block .circle {
  border-radius: 100%;
  background-color: #9359DC;
  color: white;
  width: 23px;
  height: 23px;
  border: none;
  margin-left: -45px;
}

.fonctionnement h2 {
  margin-left: 20px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .description, .fonctionnement {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .card, .description, .fonctionnement {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 90%;
  height: 250px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
  transition: all 300ms;
}
.card h3 {
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card h3 .fa-heart {
  font-size: 28px;
  background-color: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
}
.card p {
  margin: 0 10px 15px 10px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card:hover {
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .description, .fonctionnement, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.restaurants img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 0px 95%;
}

.restaurants .img2 {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 0px 60%;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .description, .fonctionnement, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: small;
  font-weight: 600;
  background-color: #99e2d0;
  color: #22856c;
  border-radius: 3px;
  padding: 6px 12px;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .restaurants, .description, .fonctionnement, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.card .fa-heart {
  cursor: pointer;
  transition: 400ms;
}
.card .fa-heart:hover {
  transform: scale(1.05);
  background-color: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
}

.restaurants {
  background-color: rgba(243, 243, 243, 0.937254902);
  margin-top: 65px;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-left: 20px;
  margin-top: 45px;
  margin-bottom: 10px;
}
.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
footer {
  background-color: #363838;
  color: white;
  margin: 0;
  font-size: 14px;
}
footer h2 {
  font-family: shirkhand;
  font-weight: normal;
  font-size: 20px;
  padding-top: 15px;
  margin-top: 0;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0 0 20px 0;
}
ul a {
  text-decoration: none;
  color: white;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li i {
  padding-right: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
/* Pour cacher la fléche du header sur cette page*/
.hide {
  display: none;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.btn, .description .btn {
  border-style: hidden;
  background: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 40px;
  padding: 15px 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  transition: all 300ms;
}
.btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

header {
  align-items: flex-start;
}
header h1 {
  font-family: shirkhand;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 10px;
}
header i {
  margin-left: 15px;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
footer {
  background-color: #363838;
  color: white;
  margin: 0;
  font-size: 14px;
}
footer h2 {
  font-family: shirkhand;
  font-weight: normal;
  font-size: 20px;
  padding-top: 15px;
  margin-top: 0;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0 0 20px 0;
}
ul a {
  text-decoration: none;
  color: white;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li i {
  padding-right: 15px;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.img-resto {
  height: 270px;
  width: 100%;
  position: relative;
}
.img-resto img {
  object-fit: cover;
  width: 100%;
  height: 270px;
}

.nom-resto {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: shirkhand;
  border-style: none;
  border-radius: 35px 35px 0 0;
  position: absolute;
  top: 210px;
  right: 0;
  background-color: #f1eeee;
  width: 100%;
  font-size: 18px;
}
.nom-resto h2 {
  margin-left: 15px;
  margin-bottom: 0;
}
.nom-resto .fa-heart {
  margin-right: 30px;
  font-size: 28px;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.menu-block {
  background-color: white;
  border-radius: 15px;
  width: 95%;
  height: 65px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  overflow: hidden;
  white-space: nowrap;
  margin-top: 10px;
  margin-bottom: 15px;
  -webkit-animation: slidein 2s forwards;
  animation: slidein 2s forwards;
  opacity: 0;
}
.menu-block:hover .add {
  margin-right: 0;
  transition-timing-function: ease;
}
.menu-block:hover i {
  transform: rotate(360deg);
  transition-duration: 0.5s;
}
.menu-block .prix {
  margin-top: 38px;
  font-weight: bold;
  margin-right: 40px;
  margin-left: 20px;
}

.text-container {
  width: 100%;
  max-width: 100%;
  overflow: hidden;
}
.text-container h3 {
  margin-left: 15px;
  margin-bottom: 0;
  font-size: medium;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}
.text-container p {
  margin-left: 15px;
  margin-bottom: 0;
  margin-top: 4px;
  font-size: 14px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 100%;
}

@-webkit-keyframes slidein {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    translate: translateY(0px);
    opacity: 1;
  }
}
@keyframes slidein {
  0% {
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    translate: translateY(0px);
    opacity: 1;
  }
}
.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.add i {
  border-radius: 50%;
  background-color: white;
  color: #99e2d0;
  padding: 5px;
  border: none;
}

.menu-container, header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.add {
  height: 65px;
  width: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  margin-right: -120px;
  transition: margin 0.5s;
}
.menu {
  background-color: #f1eeee;
  padding-top: 20px;
  padding-bottom: 20px;
}

.menu h2 {
  font-weight: normal;
  margin-bottom: 20px;
  margin-left: 15px;
  font-size: 15px;
  position: relative;
  /*décoration des titres du menu*/
}
.menu h2::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  height: 1px;
  width: 40px;
  border-bottom: 3px solid;
  border-bottom-color: #99e2d0;
}

.menu-container {
  margin: 0;
  padding: 0;
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle, .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle, .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.img-resto {
  height: 270px;
  width: 100%;
  position: relative;
}
.img-resto img {
  object-fit: cover;
  width: 100%;
  height: 270px;
}

.nom-resto {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  font-family: shirkhand;
  border-style: none;
  border-radius: 35px 35px 0 0;
  position: absolute;
  top: 210px;
  right: 0;
  background-color: #f1eeee;
  width: 100%;
  font-size: 18px;
}
.nom-resto h2 {
  margin-left: 15px;
  margin-bottom: 0;
}
.nom-resto .fa-heart {
  margin-right: 30px;
  font-size: 28px;
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle, .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle, .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.commander, .description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.menu-block:nth-child(2) {
  animation-delay: 1s;
  -webkit-animation-delay: 1s;
}
.menu-block:nth-child(3) {
  animation-delay: 1.5s;
  -webkit-animation-delay: 1.5s;
}
.menu-block:nth-child(4) {
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
}
.menu-block:nth-child(5) {
  animation-delay: 2.5s;
  -webkit-animation-delay: 2.5s;
}

.btn, .description .btn {
  border-style: hidden;
  background: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 40px;
  padding: 15px 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  transition: all 300ms;
}
.btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

.commander {
  background-color: #f1eeee;
  padding-bottom: 60px;
}

.btn {
  padding-left: 45px;
  padding-right: 45px;
}

/*# sourceMappingURL=style.css.map */
