.localisation div, header, .fonctionnement__block .circle, .fonctionnement__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.localisation div, header, .fonctionnement__block .circle, .fonctionnement__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.description .btn {
  border-style: hidden;
  background: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 40px;
  padding: 15px 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
}
.description .btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

.localisation div, header, .fonctionnement__block .circle, .fonctionnement__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.fonctionnement__block {
  background-color: rgba(243, 243, 243, 0.937254902);
  border-radius: 25px;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  width: 320px;
  height: 75px;
  margin-right: auto;
  margin-left: auto;
  font-size: 14px;
  margin-top: 25px;
}
.fonctionnement__block h3 {
  width: 225px;
}
.fonctionnement__block i {
  margin-left: 18px;
  margin-right: 18px;
  width: 20px;
  font-size: 18px;
  color: gray;
}
.fonctionnement__block:hover {
  background-color: #f1eafb;
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}
.fonctionnement__block:hover i {
  color: #9359DC;
}

.localisation div, header, .fonctionnement__block .circle, .fonctionnement__block {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.fonctionnement__block .circle {
  border-radius: 100%;
  background-color: #9359DC;
  color: white;
  width: 23px;
  height: 23px;
  border: none;
  margin-left: -45px;
}

.localisation div, header, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.card {
  position: relative;
  background-color: white;
  border-radius: 15px;
  width: 90%;
  height: 250px;
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
  margin-top: 10px;
  margin-bottom: 10px;
}
.card h3 {
  margin: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card h3 .fa-heart {
  font-size: 28px;
}
.card p {
  margin: 0 10px 15px 10px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card:hover {
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

.localisation div, header, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.restaurants img {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 0px 95%;
}

.restaurants .img2 {
  width: 100%;
  height: 180px;
  border-radius: 15px 15px 0 0;
  object-fit: cover;
  object-position: 0px 60%;
}

.localisation div, header, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.new {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: small;
  font-weight: 600;
  background-color: #99e2d0;
  color: #22856c;
  border-radius: 3px;
  padding: 6px 12px;
}

.localisation div, header, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

header h1 {
  font-family: shirkhand;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}
header i {
  margin-left: 15px;
}

.localisation div, .fonctionnement__block, .fonctionnement__block .circle, header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.restaurants, .fonctionnement, .description, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
footer {
  background-color: #363838;
  color: white;
  margin: 0;
  font-size: 14px;
}
footer h2 {
  font-family: shirkhand;
  font-weight: normal;
  font-size: 20px;
  padding-top: 15px;
  margin-top: 0;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0 0 20px 0;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li i {
  padding-right: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
.hide {
  display: none;
}

.localisation {
  background-color: #f1eeee;
  box-shadow: inset 0px 7px 10px -10px rgba(0, 0, 0, 0.5);
}
.localisation div {
  padding: 18px;
}
.localisation p {
  margin: 0px;
  margin-left: 15px;
  font-weight: bold;
}

.description {
  background-color: rgba(243, 243, 243, 0.937254902);
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}
.description h2 {
  margin: 0;
}
.fonctionnement h2 {
  margin-left: 20px;
  margin-top: 45px;
  margin-bottom: 10px;
}

.restaurants {
  background-color: rgba(243, 243, 243, 0.937254902);
  margin-top: 65px;
  padding-bottom: 50px;
}
.restaurants h2 {
  margin-left: 20px;
  margin-top: 45px;
  margin-bottom: 10px;
}
header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

.description .btn {
  border-style: hidden;
  background: linear-gradient(0deg, rgb(147, 89, 220) 0%, rgb(255, 121, 218) 100%);
  border-radius: 40px;
  padding: 15px 20px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0px 6px 23px -12px rgba(0, 0, 0, 0.8);
}
.description .btn:hover {
  filter: brightness(110%);
  box-shadow: 0px 6px 50px -12px rgba(0, 0, 0, 0.8);
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

header h1 {
  font-family: shirkhand;
  margin-left: auto;
  margin-right: 100px;
  margin-top: 15px;
  margin-bottom: 10px;
}
header i {
  margin-left: 15px;
}

header, .localisation div, .fonctionnement__block, .fonctionnement__block .circle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.description, .fonctionnement, .restaurants, .card {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
}

@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}
footer {
  background-color: #363838;
  color: white;
  margin: 0;
  font-size: 14px;
}
footer h2 {
  font-family: shirkhand;
  font-weight: normal;
  font-size: 20px;
  padding-top: 15px;
  margin-top: 0;
  margin-left: 20px;
}

ul {
  list-style: none;
  margin: 0 0 0 20px;
  padding: 0 0 20px 0;
}
ul li {
  padding: 5px 0 5px 0;
}
ul li i {
  padding-right: 15px;
}

/*# sourceMappingURL=style.css.map */
