@import '../Utils/variables';
@import '../Utils/placeholders';
@import '../Utils/mixins';

%card-style{
    position: relative;
    background-color: white;
    border-radius: 15px;
    width: 90%;
    height: 250px;
    margin-top: 30px;
    margin-bottom: 30px;
    @extend %flex-column;
    margin-left: auto;
    margin-right: auto;
    box-shadow: $shadow;
    margin-top: 10px;
    margin-bottom: 10px;

    h3{
        margin: 10px 10px 0 10px ;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .fa-heart{
            font-size: 28px;
        }
    }

    p{
        margin: 0 10px 15px 10px ; 
    }

    a{
        text-decoration: none;
        color: black;
    }

    &:hover{
        box-shadow: $shadow-strong;
    }
}

