@import '../Utils/variables';
@import '../Utils/placeholders';
@import '../Utils/mixins';


%new-style{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: small;
    font-weight: 600;
    background-color: $tertaire;
    color: $nouveau;
    border-radius: 3px ;
    padding: 6px 12px;

}
