@import '../Utils/variables';
@import '../Utils/placeholders';
@import '../Utils/mixins';


%check{
    border-radius: 50%;
    background-color: white;
    color: $tertaire;
    padding: 5px;
    border: none;
}

