@import '../Utils/variables';
@import '../Utils/placeholders';
@import '../Utils/mixins';


.card .fa-heart{
    transition: 400ms;
    -webkit-background-clip: text;
    position: absolute;
    right: 10px;
    top: 200px;


}

span .fa-heart{
    opacity: 0;
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-image: $background-gradient;
    transition: 2s;

    &:hover{
        opacity: 1;
    }
}

