@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';


@font-face {
  font-family: shirkhand;
  src: url(../fonts/Shrikhand-Regular.ttf);
}

* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    margin-right: auto;
    margin-left: auto;
}
  

/* Pour cacher la flèche du header sur l'index*/
.hide{
  display: none;
}

