
@import '../Utils/variables';
@import '../Utils/mixins';
@import '../Utils/placeholders';
@import '../Layout/header';
@import '../Layout/localisation';
@import '../Layout/description';
@import '../Layout/fonctionnement';
@import '../Layout/restaurants';
@import '../Layout/footer';


* {
    box-sizing: border-box;
  }

body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
  

@font-face {
    font-family: shirkhand;
    src: url(../fonts/Shrikhand-Regular.ttf);
}


/* Pour cacher la fléche du header sur cette page*/
.hide{
  display: none;
}
