$primaire: #9359DC;
$secondaire: #ff79da;
$tertaire:#99e2d0;
$nouveau:#22856c;
$footer:#363838;



$background-light: #f3f3f3ef;
$background-dark: #f1eeee;
$background-gradient: linear-gradient(0deg, rgba(147,89,220,1) 0%, rgba(255,121,218,1) 100%);
$background-lighten:#f1eafb;

$heart-start: linear-gradient(0deg, rgba(147,89,220,0) 0%, rgba(255,121,218,0) 100%);
$heart-end : linear-gradient(0deg, rgba(147,89,220,1) 0%, rgba(255,121,218,1) 100%) ;

$shadow:0px 6px 23px -12px rgba(0,0,0,0.8);
$shadow-strong:0px 6px 50px -12px rgba(0,0,0,0.8);


$brighter: brightness(110%);
